%main
  .contents
    .contents__left-content
      %h1.contents__left-content__title
        %span
          そろそろ買わなきゃリスト
      %ul.items
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
    .contents__right-content
      %h1.contents__right-content__title
        %span
          マイアイテム
      %ul.items
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item