%main
  .contents
    .contents__left-content
      %h1.contents__left-content__header
        %span.title
          買い物リスト
      %ul.items
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
        %li.item
    .contents__right-content
      %h1.contents__right-content__header
        %span.title
          マイアイテム
        = link_to new_item_path, class: 'add-item' do
          = icon('fas', 'plus')
      %ul.items
        = render @items