%li.purchased-item
  .purchased-item__name  
    = purchaseHistory.item.name
  .purchased-item__date
    購入日： #{purchaseHistory.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d')}
  .purchased-item__amount
    購入数： #{purchaseHistory.amount}個
