%li.purchaseditem
  .purchaseditem__name  
    = purchaseHistory.item.name
  .purchaseditem__date
    購入日： #{purchaseHistory.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d')}
  .purchaseditem__amount
    購入数： #{purchaseHistory.amount}個
