= render 'layouts/header'

.purchasehistorywrapper
  %h2 購入履歴一覧
  %ul.purchasehistories
    = render partial: 'purchased_item', collection: @purchaseHistories, as: :purchaseHistory if !@purchaseHistories.empty?