= render 'layouts/header'

.formwrapper
  %h2 在庫編集
  = form_for [@item, @itemInventory], url: user_item_item_inventory_path do |f|
    .field
      = f.number_field :amount
      ％
    .actions
      = f.submit "更新!"