.header {
  width: 100vw;
  min-width: 1040px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  padding: 60px 120px 10px;
  background-color: #333333;
  color: #ffffff;

  &__title {
    width: 50%;
    font-size: 38px;

    .title {
      text-decoration: none;
      font-family: 'Courier New', Courier, monospace;
      color: #FFA500;
      font-weight: 100;
    }
  }

  &__nav-list {
    width: 50%;
    padding: 24px 0 0 40px;
    font-size: 14px;

    .lists {
      display: flex;
      justify-content: space-between;

      .user-name {
        margin-right: 20px;
      }

      li .menu {
        text-decoration: none;
        color: #ffffff;
        display: inline-block;
        padding: 0 10px;
      }

      li .menu:hover {
        text-decoration: none;
        background-color: #555555;
      }
    }
  }
}