%header.header
  %h1.header__title
    stock watcher
  %nav.header__nav-list
    %ul.lists
      %li.user-name
        ユーザー名
      %li
        = link_to '#', class: 'menu' do
          アカウント編集
      %li
        = link_to '#', class: 'menu' do
          購入履歴
      %li
        = link_to '#', class: 'menu' do
          設定
      %li
        = link_to '#', class: 'menu' do
          ログアウト